<div class="container-fluid">
    <ul class="list-group list-group-flush">
        <div class="d-flex">

            <button (click)="previous()" type="submit" class=" col-6 btn btn-light">
                Previous
            </button>

            <button (click)="next()" type="submit" class=" col-6 btn btn-light">
                Next
            </button>
        </div>




        <li *ngFor="let sentence of stories; 
                    let i = index;
                    " class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col-12">
                <div class="f-flex flex-column">
                    <div class="col-12 sentence-box"
                        [ngClass]="{ 'sentence--selected': currentSentence === i }">
                        {{ sentence.sentenceOne }}</div>
                    <div class="col-12 sentence-box"
                        [ngClass]="{ 'sentence--selected': currentSentence === i+1 }">
                        {{ sentence.sentenceTwo }}</div>
                    <div class="col-12 sentence-box"
                        [ngClass]="{ 'sentence--selected': currentSentence === i+2}">
                        {{ sentence.sentenceThree }}</div>
                    <div class="col-12 sentence-box"
                        [ngClass]="{ 'sentence--selected': currentSentence === i+3}">
                        {{ sentence.sentenceFour }}</div>
                </div>
            </div>

        </li>
    </ul>

</div>